PRIVATE_PASSWORD=
NEW_PRIVATE_PASSWORD=

PORT=

MONGO_URI=

JWT_SECRET=

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=

REDIS_URL=

MAILER_USER=
MAILER_PASS=

WEB_ENDPOINT=

EMAIL_VERIFICATION_TOKEN=
PASSWORD_RESET_TOKEN=