* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "REM", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(25deg, #000000 40%, transparent 41%, transparent 59%, #000000 60%) ,linear-gradient(90deg, transparent 45%, #6c35de 45%, #6c35de 55%, transparent 55%, transparent 20%, #6c35de 20%, #6c35de 30%,transparent 30%);
        background-size: 6em 6em;
        background-color: #000000;
        opacity: 1
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    border-radius: 1rem;
    background-color: white;

    .title {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
    }
    
    .tech-stack {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        & .tech-stack-title {
            font-size: 1.5rem;
            font-weight: bold;
        }
    
        & ul {
            padding-left: 1rem;
        }
    }
    
    .links {
        width: fit-content;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 1rem;
    
        & .web, .github {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            cursor: pointer;
            padding: 0.5rem;
            border-radius: .5rem;
            color: white;
            background-color: #24292e;
            text-decoration: none;
        }

        & .web {
            background-color: #6c35de;
        }
    }
}

@media screen and (max-width: 480px) {
    body {
        padding: 0 1rem;
    }

    .container {
        width: 100%;
    }
}